html,
body {
  /*Color: Perfect White */
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: "Fredericka the Great", cursive;
  font-size: 50px;
  padding: 0px 10px;
}

h3 {
  font-family: "Fredericka the Great", cursive;
  font-size: 25px;
  padding: 5px 0;
}

h4 {
  font-size: 80px;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0 auto;
}

h5 {
  font-size: 25px;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0 auto;
}

h6 {
  font-size: 15px;
  font-family: "Open Sans Condensed", sans-serif;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-size: 15px;
}

ul {
  list-style: none;
  padding-top: 30px;
  padding-left: 20px;
}
a.impressum {
  color: white;
}

h5 i {
  color: #cbbaccbb;
}

canvas {
  display: block;
  margin: 10px auto;
}

.wholeContent {
  /*Color: Strict November */
  background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  max-width: 1200px;
  min-height: 500px;
  margin: 150px auto;
  padding: 20px 20px;
  border-radius: 15px;
}

.weather-temperature strong {
  line-height: 1;
  font-weight: 800;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.units {
  font-size: 20px;
}
.card {
  margin: 5px 2px;
}

.card-body {
  padding: 5px 10px;
}

.col-4 {
  padding: 20px 10px;
}

.impressum {
  font-size: 16px;
}

#todays-description {
  text-transform: uppercase;
}

#today {
  padding: 5px 5px;
}

.today {
  max-width: 800px;
  margin: 20px auto;
}
